<html>
    <head>
        <title>
            First Project
        </title>
    </head>
    <body>
        <h1><center>Welcome To Aakash Dhanwani Project</center></h1>
        <form action="/result" method="get">
            <textarea name="text" style="margin: 0px; width: 1346px; height: 269px;"></textarea>
            <input type="checkbox" name="removepu">Remove Punctuations
            <input type="checkbox" name="fullcaps">UpperCase
            <input type="checkbox" name="newlineremover">New Line Remover
            <input type="checkbox" name="extraspaceremover">Extra Space Remover
            <input type="checkbox" name="charcount">Char Count
            <br><center><button type="submit" style="font-size: 30px; color: red">Submit</button></center>

        </form>
    </body>
</html>